:root 
{
    --color_azul_oscuro: #00171f;
    --color_celeste:#00a8e8;
    --color-blanco: #fefefe;
    --fuente_menu: 'Raleway', sans-serif;
    --fuente_titulo: 'Montserrat', sans-serif;
    --fuente_subtitulo: 'Roboto', sans-serif;
    --fuente_parrafo: 'Open Sans', sans-serif;
}
/*LOGIN*/
.principal_login
{
    background-color: var(--color_azul_oscuro);
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
}
.login
{
    width: 350px;
    background-color: #000c10;
    box-shadow: 10px 10px 10px #000c10;
}
.login form
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--color-blanco);
}
.login form img
{
    width: 100px;
    filter: drop-shadow(0px 0px 5px var(--color_celeste));
    animation: parpadeo 5s linear infinite ;
}
@keyframes parpadeo 
{
    0%
    {
        filter: drop-shadow(0px 0px 5px var(--color_celeste));
    }
    25%
    {
        filter: drop-shadow(0px 0px 15px var(--color_celeste));
    }
    50%
    {
        filter: drop-shadow(0px 0px 2px var(--color_celeste));
    }
    75%
    {
        filter: drop-shadow(0px 0px 10px var(--color_celeste));
    }
    100%
    {
        filter: drop-shadow(0px 0px 3px var(--color_celeste));
    }  
}
.login form h2
{
    font-family: var(--fuente_titulo);
    margin: 20px 0;
}
.login form label
{
    font-family: var(--fuente_subtitulo);
    margin: 10px 0;
}
.login form input
{
    border: 0;
    border-bottom: solid 1px var(--color_azul_oscuro);
    background-color: transparent;
    color: var(--color-blanco);
    font-family: var(--fuente_menu);
    outline: none;
    transition: border-bottom 200ms ease-in-out;
}
.login form input:focus
{
    border-bottom: solid 1px var(--color_celeste);
}
.login form button
{
    margin: 20px 0;
    padding: 5px;
    font-family: var(--fuente_titulo);
    color: var(--color-blanco);
    background-color: var(--color_celeste);
    border: none;
    transition: box-shadow 200ms ease-in-out, text-shadow 200ms ease-in-out;
    cursor: pointer;
}
.login form button:hover
{
    box-shadow:0 0 20px #00e8c1;
    text-shadow: 0 0 20px #00a8e8;
}
.login form legend 
{
    height: 1.5rem;
    font-family: var(--fuente_parrafo);
}